version: '3.8'

services:
  web:
    build: .
    container_name: php_app_new
    ports:
      - "8082:80"  # Cambiamos el puerto de la aplicación web
    volumes:
      - .:/var/www/html
      - /Users/alejandro/Desktop/DOCKER/DEMOS/Registros:/var/www/html/Registros:rw
    depends_on:
      - db

  db:
    image: mysql:8.0
    container_name: mysql_db_new
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: vehiculos
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    ports:
      - "3307:3306"  # Cambiamos MySQL al puerto 3307 en el host
    volumes:
      - db_data:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin_railway
    restart: always
    ports:
      - "8083:80"  # Cambia el puerto si es necesario
    environment:
      PMA_HOST: mysql.railway.internal  # Host de Railway
      PMA_PORT: 3306  # Puerto
      MYSQL_ROOT_PASSWORD: YhlaYTTFQBaLCmuUZMROtwmcpCXrOTJg  # Contraseña de Railway


volumes:
  db_data:
